@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap"); /*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
:root {
  font-size: 1rem;
}

body {
  background: white;
  font-family: "Roboto", sans-serif;
  color: #101010;
  font-size: 1.0625rem;
}

@media (min-width: 996px) {
  .bloc_page {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin: auto;
  }
}
.header {
  text-align: center;
  padding: 0.5rem 0;
}
.header__logo_text {
  text-align: center;
  font-size: 2em;
  font-family: "Shrikhand";
  color: #101010;
  word-break: break-all;
  background: white;
  display: block;
}
.header__search_form {
  background-color: #EAEAEA;
  padding: 0.625rem;
}
.header__brand {
  padding: 2rem 2% 0 2%;
  background-color: #F7F7F7;
}
.header__brand_tagline {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.6875rem;
}
.header__brand_underline {
  font-weight: 300;
  font-size: 1.125rem;
  color: #7E7E7E;
}
.header__navigation {
  background-color: #F7F7F7;
  padding: 1.875rem 2% 3.1875rem 2%;
}
.header__navigation_link {
  display: inline-block;
  padding: 0.9em 1.5em;
  cursor: pointer;
  border-radius: 25px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}
@media (min-width: 744px) {
  .header {
    text-align: left;
  }
  .header__brand {
    padding-left: 10%;
  }
  .header__navigation {
    padding-left: 10%;
  }
}
@media (min-width: 996px) {
  .header {
    padding: 0;
  }
}

.steps-section {
  border-radius: 0;
  padding: 2rem 10%;
}
.steps-section__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.52rem;
  word-break: break-all;
}
@media (min-width: 744px) {
  .steps-section {
    padding: 2rem 0px;
  }
  .steps-section__title {
    padding-left: 12%;
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 996px) {
  .steps-section {
    padding: 2rem 0;
    max-width: 1250px;
    background: rgba(90, 0, 151, 0.0588235294);
  }
}

.card-section {
  padding: 2rem 10%;
  padding-bottom: 4.0625rem;
  background-color: #F7F7F7;
}
.card-section__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.52rem;
}
.card-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin: auto;
}
@media (min-width: 744px) {
  .card-section {
    padding: 2rem 0px;
  }
  .card-section__title {
    padding-left: 12%;
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 996px) {
  .card-section {
    padding: 2rem 0;
    max-width: 1250px;
  }
  .card-section__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    max-width: 1250px;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 2rem 10%;
}
.footer__logo_text {
  font-size: 18px;
  font-family: "Shrikhand";
  color: #101010;
  color: white;
  margin-bottom: 1rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}
.footer__link {
  font-weight: 400;
  color: white;
}
.footer i {
  width: 1.375rem;
  font-size: 0.875rem;
}

.steps-section__list {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  margin: 40px auto 0 auto;
  list-style: none;
  counter-reset: li;
}
.steps-section__list i {
  color: #7E7E7E;
  padding: 0 7%;
}
.steps-section__list_link {
  display: inline-block;
  padding: 0.9em 1.5em;
  cursor: pointer;
  border-radius: 0.625rem;
  background: #F8F8F8;
  box-shadow: 5px 12px 12px -2px rgba(154, 146, 165, 0.25);
  padding: 10px;
}
@media (min-width: 996px) {
  .steps-section__list {
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

/* Style pour numéroter et afficher un rond autour des éléments de liste */
.step {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  font-weight: 500;
  font-size: rem 16;
  counter-increment: li;
  background: rgba(0, 0, 0, 0);
  color: #101010;
  padding: 5%;
}
.step::before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: counter(li);
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 50%;
  min-width: 25px;
  height: 25px;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
@media (min-width: 996px) {
  .step {
    width: 250px;
  }
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* FORMULAIRE */
input[type=search]:focus {
  outline: none;
}

@keyframes anticipation-scale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0);
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.icon-heart {
  fill: transparent;
  stroke-width: 30;
  /* cursor: pointer; */
  position: relative;
  transition: all 0.2ms ease-in-out;
}

.icon-heart svg {
  overflow: visible;
  width: 1.2rem;
}

.icon-heart path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}

.icon-heart .heart-background {
  position: absolute;
  stroke: #9356DC;
  right: 0;
  z-index: -1;
  stroke: none;
}

.heart-main {
  stroke: rgb(132, 132, 132);
}

.heart-main:hover {
  stroke: #FF79DA;
}

.heart-main:hover path {
  /* animation: fade-animation .3s ease-in-out forwards; */
  animation: stroke-animation 0.5s cubic-bezier(0.01, 0.88, 0.97, 0.13) forwards;
}
@keyframes stroke-animation {
  0% {
    stroke: #9356DC;
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: #9356DC;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: #FF79DA;
  }
}

.header__search {
  background-color: #EAEAEA;
}
.header__search_form {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.header__search_input {
  background-color: #EAEAEA;
  border: none;
  font-size: 16px;
  font-weight: 500;
  box-shadow: unset;
  width: 124px;
}
.header__search_icon {
  font-size: 18px;
}
@media (min-width: 996px) {
  .header__search {
    padding: 2rem 6%;
  }
  .header__search__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    max-width: 1250px;
  }
}

@media (min-width: 744px) {
  .header__search_container {
    padding-top: 1.5625rem;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .header__search_form {
    border-radius: 25px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 21.875rem;
  }
}
@media (min-width: 744px) {
  .header__search_container {
    border-radius: 0.625rem 0.625rem 0 0;
  }
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 21rem;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 0.625rem;
}
.card__content {
  padding: 5%;
}
.card img {
  border-radius: 0.625rem 0.625rem 0 0;
  height: 10.75rem;
  object-fit: cover;
}
.card__title {
  font-size: 1.125rem;
  font-weight: 900;
  margin-bottom: 0.25rem;
  font-size: 1.0625rem;
  letter-spacing: 0.03em;
}
.card__description {
  font-weight: 400;
  font-size: 1.0625rem;
  letter-spacing: 0.01em;
}
.card__icon {
  font-size: 1.5rem;
  background-clip: text;
  bottom: 0.9375rem;
  right: 0;
  padding: 5%;
  color: rgba(103, 5, 5, 0.153);
  z-index: 5;
}

@media (min-width: 375px) {
  .card {
    flex-direction: column;
  }
}
@media (min-width: 744px) {
  .card {
    display: flex;
    flex-direction: row;
    max-width: 420px;
    height: 180px;
  }
  .card img {
    border-radius: 0.625rem 0 0 0.625rem;
    width: 270px;
    max-width: 70%;
    height: auto;
  }
  .card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 5%;
    width: 50%;
  }
}
@media (min-width: 996px) {
  .card {
    display: flex;
    max-width: 26.25rem;
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .card img {
    max-width: 100%;
    border-radius: 0.625rem 0.625rem 0 0;
    height: 10.75rem;
    object-fit: cover;
    width: 26.25rem;
  }
  .card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 5%;
    width: 52%;
  }
}
.sticker::after {
  position: absolute;
  border-radius: 0.125rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: #278870;
  content: "Nouveau";
  background: #99E2D0;
  border: solid 1px #30a789;
  padding: 0.5rem 0.9375rem;
  z-index: 1;
}
@media (min-width: 375px) {
  .sticker::after {
    right: 15px;
    top: 15px;
  }
}
@media (min-width: 744px) {
  .sticker::after {
    right: unset;
    top: unset;
    left: 15px;
    top: 15px;
  }
}
@media (min-width: 744px) and (min-width: 996px) {
  .sticker::after {
    left: unset;
    top: unset;
    left: 15px;
    top: 15px;
  }
}

.icon-heart {
  position: absolute;
  bottom: 20px;
  right: 15px;
  font-size: 1.5rem;
  color: #ff0000;
  z-index: 5;
}

@media (min-width: 744px) {
  .icon-heart {
    right: 108px;
    bottom: 15px;
  }
}
@media (min-width: 996px) {
  .icon-heart {
    bottom: 20px;
    right: 15px;
  }
}
.spinner--primary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 10px solid #9356DC;
  width: 20px;
  height: 20px;
  border-top: 10px solid rgb(255, 255, 255);
  background-color: #9356DC;
  animation: spin 0.5s linear infinite;
}

.spinner--secondary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 10px solid #9356DC;
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  background: linear-gradient(90deg, #FF79DA 0%, #FF79DA 50%, #9356DC 100%);
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.overflow {
  animation: overflow-hidden 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes overflow-hidden {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}
.loader {
  pointer-events: none;
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: #101010;
  z-index: 999;
  animation: fade-out 0.3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    scale: 1;
  }
  99% {
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
.logo-fill-color {
  position: absolute;
  display: flex;
  color: transparent;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  padding-left: 1.125rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  margin: auto;
  width: 9.6875rem;
  height: auto;
}

.logo-fill-color::before {
  content: "ohmyfood";
  background-clip: text;
  -webkit-background-clip: text;
  background-color: #ffffff;
  animation: fill-color 3s cubic-bezier(0.5, 0, 0.5, 1) forwards;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgba(240, 228, 241, 0.137254902);
}

@keyframes fill-color {
  0% {
    width: 0%;
  }
  50% {
    width: 40%;
  }
  75% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
