@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap"); /*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
:root {
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: "Roboto", sans-serif;
  color: #101010;
  font-size: 1.0625rem;
}

@media (min-width: 996px) {
  .bloc_page {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin: auto;
  }
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* FORMULAIRE */
input[type=search]:focus {
  outline: none;
}

@keyframes anticipation-scale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.menu-section__container {
  animation-name: fadeIn;
  animation-delay: 0.3s;
  animation-duration: 0.9s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  /* maintient l'état final de l'animation une fois terminée */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.icon-heart {
  fill: transparent;
  stroke-width: 30;
  /* cursor: pointer; */
  position: relative;
  transition: all 0.2ms ease-in-out;
}

.icon-heart svg {
  overflow: visible;
  width: 1.2rem;
}

.icon-heart path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}

.icon-heart .heart-background {
  position: absolute;
  stroke: #9356DC;
  z-index: -1;
  stroke: none;
}

.heart-main {
  stroke: rgb(132, 132, 132);
}

.heart-main:hover {
  stroke: #FF79DA;
}

.heart-main:hover path {
  animation: stroke-animation 0.5s cubic-bezier(0.01, 0.88, 0.97, 0.13) forwards;
}
@keyframes stroke-animation {
  0% {
    stroke: #9356DC;
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: #9356DC;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: #FF79DA;
  }
}

.header__search {
  background-color: #EAEAEA;
}
.header__search_form {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.header__search_input {
  background-color: #EAEAEA;
  border: none;
  font-size: 16px;
  font-weight: 500;
  box-shadow: unset;
  width: 124px;
}
.header__search_icon {
  font-size: 18px;
}
@media (min-width: 996px) {
  .header__search {
    padding: 2rem 6%;
  }
  .header__search__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    max-width: 1250px;
  }
}

@media (min-width: 744px) {
  .header__search_container {
    padding-top: 1.5625rem;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .header__search_form {
    border-radius: 1.5625rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 21.875rem;
  }
}
@media (min-width: 744px) {
  .header__search_container {
    border-radius: 0.625rem 0.625rem 0 0;
  }
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 21rem;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 0.625rem;
}
.card__content {
  padding: 5%;
}
.card img {
  border-radius: 0.625rem 0.625rem 0 0;
  height: 10.75rem;
  object-fit: cover;
}
.card__title {
  font-size: 1.125rem;
  font-weight: 900;
  margin-bottom: 0.25rem;
  font-size: 1.0625rem;
  letter-spacing: 0.03em;
}
.card__description {
  font-weight: 400;
  font-size: 1.0625rem;
  letter-spacing: 0.01em;
}
.card__icon {
  font-size: 1.5rem;
  background-clip: text;
  bottom: 0.9375rem;
  right: 0;
  padding: 5%;
  color: rgba(103, 5, 5, 0.153);
  z-index: 5;
}

@media (min-width: 375px) {
  .card {
    flex-direction: column;
  }
}
@media (min-width: 744px) {
  .card {
    display: flex;
    flex-direction: row;
    max-width: 420px;
    height: 180px;
  }
  .card img {
    border-radius: 0.625rem 0 0 0.625rem;
    width: 270px;
    max-width: 70%;
    height: auto;
  }
  .card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 5%;
    width: 50%;
  }
}
@media (min-width: 996px) {
  .card {
    display: flex;
    max-width: 26.25rem;
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .card img {
    max-width: 100%;
    border-radius: 0.625rem 0.625rem 0 0;
    height: 10.75rem;
    object-fit: cover;
    width: 26.25rem;
  }
  .card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 5%;
    width: 52%;
  }
}
.sticker::after {
  position: absolute;
  border-radius: 0.125rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: #278870;
  content: "Nouveau";
  background: #99E2D0;
  border: solid 1px #30a789;
  padding: 0.5rem 0.9375rem;
  z-index: 1;
}
@media (min-width: 375px) {
  .sticker::after {
    right: 15px;
    top: 15px;
  }
}
@media (min-width: 744px) {
  .sticker::after {
    right: unset;
    top: unset;
    left: 15px;
    top: 15px;
  }
}
@media (min-width: 744px) and (min-width: 996px) {
  .sticker::after {
    left: unset;
    top: unset;
    right: 15px;
    top: 15px;
  }
}

.icon-heart {
  position: absolute;
  bottom: 20px;
  right: 15px;
  font-size: 1.5rem;
  color: #ff0000;
  z-index: 5;
}
.icon-heart--page {
  position: unset;
}

@media (min-width: 744px) {
  .icon-heart {
    right: 108px;
    bottom: 15px;
  }
}
@media (min-width: 996px) {
  .icon-heart {
    bottom: 20px;
    right: 15px;
  }
}
.card-menu {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  background: #FFFFFF;
  max-width: 350px;
  width: 100%;
  margin: auto;
}
.card-menu__content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.625rem;
}
.card-menu__name {
  font-weight: 700;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}
.card-menu__desc {
  font-weight: 400;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 200;
  letter-spacing: -0.006em;
  color: #575757;
}
.card-menu:hover .card-menu__check {
  margin-right: 0;
  transform: rotate(360deg);
}
.card-menu:hover .card-menu__slide {
  margin-right: 0;
}
.card-menu__price {
  font-weight: 900;
  font-size: 15px;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding: 0.625rem 1.5625rem 0.625rem 0.3125rem;
  transition: all 0.3s ease;
}
.card-menu__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 100%;
  padding: 1.125rem;
  margin-right: -61px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  transition: all 0.3s ease;
}
.card-menu__check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -61px;
  color: #99E2D0;
  padding: 0.3125rem;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}
@media (min-width: 744px) {
  .card-menu {
    min-width: 350px;
  }
}

.spinner--primary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 10px solid #9356DC;
  width: 20px;
  height: 20px;
  border-top: 10px solid rgb(255, 255, 255);
  background-color: #9356DC;
  animation: spin 0.5s linear infinite;
}

.spinner--secondary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 10px solid #9356DC;
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  background: linear-gradient(90deg, #FF79DA 0%, #FF79DA 50%, #9356DC 100%);
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.overflow {
  animation: overflow-hidden 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes overflow-hidden {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}
.loader {
  pointer-events: none;
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: #101010;
  z-index: 999;
  animation: fade-out 0.3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.logo-fill-color {
  position: absolute;
  display: flex;
  color: transparent;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  padding-left: 1.125rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  margin: auto;
  width: 9.6875rem;
  height: auto;
}

.logo-fill-color::before {
  content: "ohmyfood";
  background-clip: text;
  -webkit-background-clip: text;
  background-color: #ffffff;
  animation: fill-color 3s cubic-bezier(0.5, 0, 0.5, 1) forwards;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgba(240, 228, 241, 0.137254902);
}

@keyframes fill-color {
  0% {
    width: 0%;
  }
  50% {
    width: 40%;
  }
  75% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}
.banner {
  z-index: -1;
  background-image: url("../img/jay-wennington-N_Y88TWmGwA-unsplash-min.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 255px;
}
.banner--p2 {
  background-image: url("../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash-min.jpg");
}
.banner--p3 {
  background-image: url("../img/stil-u2Lp8tXIcjw-unsplash-min.jpg");
}
.banner--p4 {
  background-image: url("../img/toa-heftiba-DQKerTsQwi0-unsplash-min.jpg");
}
@media (min-width: 744px) {
  .banner {
    height: 355px;
  }
}

.shadow-fade-in {
  width: 100%;
  box-shadow: 0px -1px 10px 13px #fff;
}

.steps-section__list {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 1.25rem auto 0 auto;
  list-style: none;
  counter-reset: li;
}
.steps-section__list i {
  color: #7E7E7E;
  padding: 0 7%;
}
.steps-section__list_link {
  display: inline-block;
  padding: 0.9em 1.5em;
  cursor: pointer;
  border-radius: 0.625rem;
  background: #F8F8F8;
  box-shadow: 5px 12px 12px -2px rgba(154, 146, 165, 0.25);
  padding: 10px;
  transition: all 0.2s ease;
}
.steps-section__list_link:hover {
  transition: background-color 0.5s linear;
  box-shadow: 0px 8px 8px -4px rgba(154, 146, 165, 0.9);
}
.steps-section__list_link:hover:hover {
  background-color: #F8F8F8;
  background-color: #9356DC;
  background-color: rgba(147, 86, 220, 0.2);
}
@media (min-width: 996px) {
  .steps-section__list {
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

/* Style pour numéroter et afficher un rond autour des éléments de liste */
.step {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  font-weight: 500;
  font-size: 1rem;
  counter-increment: li;
  background: rgba(0, 0, 0, 0);
  color: #101010;
  padding: 5%;
}
.step::before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: counter(li);
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 50%;
  min-width: 25px;
  height: 25px;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.step:hover i {
  color: #9356DC;
}
@media (min-width: 996px) {
  .step {
    width: 16.875rem;
  }
}

.btn-order {
  text-align: center;
  background-color: #F7F7F7;
  padding: 1.25rem 2% 3.1875rem 2%;
  max-width: 550px;
  margin: auto;
}
.btn-order__link {
  display: inline-block;
  padding: 0.9em 1.5em;
  cursor: pointer;
  border-radius: 1.5625rem;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
  padding: 0.9375rem 3.4375rem;
  word-break: break-all;
}
@media (min-width: 996px) {
  .btn-order {
    margin: unset;
    width: 400px;
    padding-top: 87px;
  }
}

.steps-section {
  border-radius: 0;
  padding: 2rem 10%;
}
.steps-section__title {
  font-weight: 700;
  font-size: 1.5rem;
  word-break: break-all;
}
@media (min-width: 744px) {
  .steps-section {
    padding: 2rem 0px;
  }
  .steps-section__title {
    padding-left: 12%;
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 996px) {
  .steps-section {
    padding: 2rem 0;
    max-width: 1250px;
    background: rgba(90, 0, 151, 0.0588235294);
  }
}

.card-section {
  padding: 2rem 10%;
  padding-bottom: 4.0625rem;
  background-color: #F7F7F7;
}
.card-section__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.52rem;
}
.card-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin: auto;
}
@media (min-width: 744px) {
  .card-section {
    padding: 2rem 0px;
  }
  .card-section__title {
    padding-left: 12%;
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 996px) {
  .card-section {
    padding: 2rem 0;
    max-width: 1250px;
  }
  .card-section__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    max-width: 1250px;
  }
}

.section-page {
  position: relative;
  background-color: #F7F7F7;
  padding-top: 4.25rem;
  display: flex;
  align-items: baseline;
  max-width: 550px;
  width: 100%;
  margin: -38px auto 0 auto;
  justify-content: center;
  gap: 2.0625rem;
  border-radius: 1.5625rem 1.5625rem 0 0;
}
.section-page__title {
  padding-left: 0.8125rem;
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  margin-bottom: 1.8125rem;
}
@media (min-width: 996px) {
  .section-page {
    max-width: 800px;
    margin: -38px 0 0 0;
  }
  .section-page__title {
    margin-bottom: 3.125rem;
  }
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 550px;
  background-color: #F7F7F7;
}
.menu-section__title {
  white-space: nowrap;
  display: inline-block;
  width: 2.5rem;
  font-family: unset;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 0 0.5rem 0;
  margin-top: 0;
  border-bottom: solid 4px #99E2D0;
}
.menu-section__container {
  padding-top: 1.9375rem;
  padding-bottom: 67px;
  gap: 18px;
  display: grid;
}
@media (min-width: 996px) {
  .menu-section {
    margin: unset;
    padding: 0px 25px;
  }
  .menu-section__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-main {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

.header {
  text-align: center;
  padding: 0.5rem 0;
}
.header__logo_text {
  text-align: center;
  font-size: 2em;
  font-family: "Shrikhand";
  color: #101010;
  word-break: break-all;
  background: white;
  display: block;
}
.header__search_form {
  background-color: #EAEAEA;
  padding: 0.625rem;
}
.header__brand {
  padding: 2rem 2% 0 2%;
  background-color: #F7F7F7;
}
.header__brand_tagline {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.6875rem;
}
.header__brand_underline {
  font-weight: 300;
  font-size: 1.125rem;
  color: #7E7E7E;
}
.header__navigation {
  background-color: #F7F7F7;
  padding: 1.875rem 2% 3.1875rem 2%;
}
.header__navigation_link {
  display: inline-block;
  padding: 0.9em 1.5em;
  cursor: pointer;
  border-radius: 1.5625rem;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}
@media (min-width: 744px) {
  .header {
    text-align: left;
  }
  .header__brand {
    padding-left: 10%;
  }
  .header__navigation {
    padding-left: 10%;
  }
}
@media (min-width: 996px) {
  .header {
    padding: 0;
  }
}

.header-page__logo_container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}
.header-page__logo_text {
  font-size: 2em;
  font-family: "Shrikhand";
  color: #101010;
  margin-bottom: 0.25rem;
  margin-left: 5%;
  word-break: break-all;
  background: white;
}
.footer {
  background-color: #353535;
  color: white;
  padding: 2rem 10%;
}
.footer__logo_text {
  font-size: 18px;
  font-family: "Shrikhand";
  color: #101010;
  color: white;
  margin-bottom: 1rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}
.footer__link {
  font-weight: 400;
  color: white;
}
.footer i {
  width: 1.375rem;
  font-size: 0.875rem;
}

/*# sourceMappingURL=style.css.map */
