//   ANIMATION BACKGROUND BOUTON
@mixin background-transition {
  transition: background-color 0.5s linear;

  &:hover {
    background-color: #F8F8F8;
    background-color: #9356DC;
    background-color: rgba(147, 86, 220, .2);
  }
}

// BULLE DES BOUTONS ETAPES

@keyframes anticipation-scale {
  0% {
    transform: scale(1);
  }

  30% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0);
    transform: scale(1);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Menu qui apparait dans les pages restaurants */
.menu-section__container {
  animation-name: fadeIn;
  animation-delay: .3s;
  animation-duration: 0.9s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  transform: translateX(-20px);
}

/* Décalage temporel entre chaque animation */
.menu-1 {
  animation-delay: 0.3s;
}

.menu-2 {
  animation-delay: 0.8s;
}

.menu-3 {
  animation-delay: 1.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// Animation coeur qui bat

@keyframes stroke-animation {
  0% {
    transform: scale(1);
  }

  30% {
    stroke-dashoffset: 1550;
  }

  60% {

    transform: scale(1);
  }

  80% {

    transform: scale(1.3);
  }

  90% {
    transform: scale(1);
  }

  100% {
    stroke-dashoffset: 3100;

  }
}