$banner-width: 100%;
@import "../../partials/variables";
@import "../../partials/mixins";


.banner {
    z-index: -1;
    background-image: url("../img/jay-wennington-N_Y88TWmGwA-unsplash-min.jpg");
    width: $banner-width;
    background-position: center;
    background-size: cover;
height: 255px;
}