// COMPOSANT LISTE D'ÉTAPES
.steps-section__list {
    max-width: 336px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: rem(20) auto 0 auto;
    list-style: none;
    counter-reset: li;

    i {
        @include text-color-gray(medium);
        padding: 0 7%;
    }

    &_link {
        @include button;
        @include border-radius(medium);
        background: #F8F8F8;
        box-shadow: 5px 12px 12px -2px rgba(154, 146, 165, 0.25);
        padding: 10px;
        transition: all 0.2s ease;
    }
    &_link:hover {
        @include background-transition;
        box-shadow: 0px 8px 8px -4px rgba(154, 146, 165, 0.90);  
    }

    @media (min-width: 996px) {
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
}

/* Style pour numéroter et afficher un rond autour des éléments de liste */

.step {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    font-weight: 500;
    font-size: rem (16);
    counter-increment: li;
    background: rgba(0, 0, 0, 0);
    color: #101010;
    padding: 5%;
    

    &::before {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        content: counter(li);
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
        background-color: $primary-color;
        border-radius: 50%;

        min-width: 25px;
        height: 25px;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    // &:hover::before  {
    //     animation: anticipation-scale 0.2s linear;
    // }
    &:hover i {
        color: #9356DC;
    }
    @media (min-width: 996px) {
        width: rem(270);
        
    }
}



// Bouton commander 
.btn-order {
    text-align: center;
    @include background-color-gray(light);
    padding: rem(20) 2% rem(51) 2%;
    max-width: 550px;
    margin: auto;

    &__link {
        @include button;
        @include border-radius(large);
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        background: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
        transition: background-color 0.2s ease;
        padding: rem(15) rem(55);
        word-break: break-all;
    }

    @media (min-width: 996px) {
        margin: unset;
        width: 400px;
        padding-top: 87px;
        
      }
}