@import "../../partials/variables";
@import "../../partials/mixins";

$card-width--restaurant: rem(336);
$card-width--menu: rem(350);
$card-heigth--restaurant: rem(250);

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: $card-width--restaurant;
    width: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

    background: white;
    @include border-radius(medium);

    &__content {
        padding: 5%;
    }

    img {
        @include border-radius(medium-top);
        height: rem(172);
        object-fit: cover;
    }

    &__title {
        font-size: rem(18);
        font-weight: 900;
        margin-bottom: rem(4);
        font-size: rem(17);
        letter-spacing: 0.03em;

    }

    &__description {
        font-weight: 400;
        font-size: rem(17);
        letter-spacing: 0.01em;

    }

    &__icon {
        font-size: rem(24);
        background-clip: text;
        bottom: rem(15);
        right: 0;
        padding: 5%;
        color: rgba(103, 5, 5, 0.153);
        z-index: 5;
    }

}



@media (min-width: 375px) {
    .card {
        flex-direction: column;
        
    }
}

@media (min-width: 744px) {
    .card {
        display: flex;
        flex-direction: row;
        max-width: 420px;
        height: 180px;

        img {
            @include border-radius(medium-left);
            width: 270px;
            max-width: 70%;
            height: auto;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 20px 5%;
            width: 50%;
        }
    }
}

@media (min-width: 996px) {
    .card {
        display: flex;
        max-width: rem(420);
        width: auto;
        height: auto;
        flex-direction: column;


        img {
            max-width: 100%;
            @include border-radius(medium-top);
            height: rem(172);
            object-fit: cover;
            width: rem(420);

        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 20px 5%;
            width: 52%;
        }
    }
}

// STICKERS

.sticker {
    &::after {
        position: absolute;
        @include border-radius(small);
        font-weight: 500;
        font-size: rem(14);
        color: #278870;
        content: "Nouveau";
        background: #99E2D0;
        border: solid 1px #30a789;

        padding: rem(8) rem(15);
        z-index: 1;
    }

    @media (min-width: 375px) {
        &::after {
            right: 15px;
            top: 15px;
        }
      }

    @media (min-width: 744px) {

        &::after {
            right: unset;
            top: unset;
            left: 15px;
            top: 15px;
        }

        @media (min-width: 996px) {
            &::after {
                left: unset;
            top: unset;
                left: 15px;
                top: 15px;
            }
          }
        
    }
}

// COEUR
.icon-heart {
    position: absolute;
    bottom: 20px;
    right: 15px;
    font-size: rem(24);
    color: #ff0000;
    z-index: 5;

}

@media (min-width: 744px) {
    .icon-heart {
        right: 108px;
        bottom: 15px;
    }
}


@media (min-width: 996px) {
    .icon-heart {
        bottom: 20px;
        right: 15px;
    }
}

.card {
    &--menu {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        overflow: hidden;
        width: $card-width--menu;
    
        &:hover .card__slide {
          right: 0;
        }
    
        &:hover .card__check {
          rotate: 360deg;
        }
    
        &:hover .card__price {
          padding: 0 83px 12px 0;
        }
    
        &:hover .card__desc {
          width: 208px;
        }
    
        &:hover .card__name {
          width: 208px;
        }
      }
    
}
