$card-width--restaurant: rem(336);
$card-width--menu: rem(350);
$card-heigth--restaurant: rem(250);

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: $card-width--restaurant;
    width: 100%;
    box-shadow: 0px rem(4) rem(20) rgba(0, 0, 0, 0.2);
    background: white;
    @include border-radius(medium);

    &__content {
        padding: 5%;
        margin-right: 17%;
    }

    img {
        @include border-radius(medium-top);
        height: rem(172);
        object-fit: cover;
    }

    &__title {
        font-size: rem(18);
        font-weight: 900;
        margin-bottom: rem(4);
        font-size: rem(17);
        letter-spacing: 0.03em;
    }

    &__description {
        font-weight: 400;
        font-size: rem(17);
        letter-spacing: 0.01em;
    }

    &__icon {
        font-size: rem(24);
        background-clip: text;
        bottom: rem(15);
        right: 0;
        padding: 5%;
        color: rgba(103, 5, 5, 0.153);
        z-index: 5;
    }
}

@media (min-width: #{$breakpoint-small}) {
    .card {
        flex-direction: column;
    }
}

@media (min-width: #{$breakpoint-medium}) {
    .card {
        display: flex;
        flex-direction: row;
        max-width: rem(420);
        height: rem(180);

        img {
            @include border-radius(medium-left);
            width: rem(270);
            max-width: 70%;
            height: auto;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: rem(8);
            padding: rem(20) 5%;
            width: 50%;
        }
    }
}

@media (min-width: #{$breakpoint-large}) {
    .card {
        display: flex;
        max-width: rem(420);
        width: auto;
        height: auto;
        flex-direction: column;

        img {
            max-width: 100%;
            @include border-radius(medium-top);
            height: rem(172);
            object-fit: cover;
            width: rem(420);
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: rem(8);
            padding: rem(20) 5%;
            width: 52%;
        }
    }
}

// STICKERS

.sticker {
    &::after {
        position: absolute;
        @include border-radius(small);
        font-weight: 500;
        font-size: rem(14);
        color: #278870;
        content: "Nouveau";
        background: #99E2D0;
        border: solid 1px #30a789;

        padding: rem(8) rem(15);
        z-index: 1;

        right: rem(15);
        top: rem(15);
    }

    @media (min-width: #{$breakpoint-medium}) {

        &::after {
            right: unset;
            top: unset;
            left: rem(15);
            top: rem(15);
        }

        @media (min-width: #{$breakpoint-large}) {
            &::after {
                left: unset;
                top: unset;
                right: rem(15);
                top: rem(15);
            }
        }
    }
}

// COEUR
.icon-heart {
    position: absolute;
    bottom: rem(20);
    right: rem(15);
    font-size: rem(24);
    color: #ff0000;
    z-index: 5;

    &--page {
        position: unset;
    }
}

@media (min-width: #{$breakpoint-medium}) {
    .icon-heart {
        right: rem(108);
        bottom: rem(15);
    }
}

@media (min-width: #{$breakpoint-large}) {
    .icon-heart {
        bottom: rem(20);
        right: rem(15);
    }
}

.card-menu {
    box-shadow: 0px rem(4) rem(20) rgba(0, 0, 0, 0.2);
    border-radius: rem(15);
    overflow: hidden;
    display: flex;
    cursor: pointer;
    background: #FFFFFF;
    max-width: rem(350);
    width: 100%;
    margin: auto;

    &__content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: rem(10);
    }

    &__name {
        font-weight: 700;
        font-size: rem(18);
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s ease;
    }

    &__desc {
        font-weight: 400;
        font-size: rem(15);
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 200;
        letter-spacing: -0.006em;
        color: #575757
    }

    &:active &__check,
    &:focus &__check {
        margin-right: 0;
        transform: rotate(360deg);
    }

    &:active &__slide,
    &:focus &__slide {
        margin-right: 0;
    }

    &__price {
        font-weight: 900;
        font-size: rem(15);
        margin-left: auto;

        display: flex;
        align-items: flex-end;
        padding: rem(10) rem(25) rem(10) rem(5);
        transition: all 0.3s ease;
    }

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(61);
        height: 100%;
        padding: rem(18);
        margin-right: -61px;
        background: $tertiary-color;
        border-radius: 0 rem(15) rem(15) 0;
        transition: all 0.3s ease;
    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -61px;
        color: $tertiary-color;
        padding: rem(5);
        background-color: #fff;
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    @media (min-width: #{$breakpoint-medium}) {
        min-width: rem(350);
    }

    @media (min-width: #{$breakpoint-large}) {
        &:hover &__check {
            margin-right: 0;
            transform: rotate(360deg);
        }

        &:hover &__slide {
            margin-right: 0;
        }
    }
}