.steps-section {
  @include border-radius(none);
  padding: rem(32) 10%;

  &__title {
    font-weight: 700;
    font-size: rem(24);
    word-break: break-all;
  }

  @media (min-width: #{$breakpoint-medium}) {
    padding: rem(32) 0;

    &__title {
      padding-left: 12%;
      padding-bottom: rem(20);
    }
  }

  @media (min-width: #{$breakpoint-large}) {
    padding: rem(32) 0;
    max-width: 1250px;
    background: #5a00970f;
  }
}

.card-section {
  padding: rem(32) 10%;
  padding-bottom: rem(65);
  @include background-color-gray(light);

  &__title {
    font-weight: 700;
    font-size: rem(24);
    margin-bottom: 1.52rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(20);
    margin: auto;
  }

  @media (min-width: #{$breakpoint-medium}) {
    padding: rem(32) 0;

    &__title {
      padding-left: 12%;
      padding-bottom: rem(20);
    }
  }

  @media (min-width: #{$breakpoint-large}) {
    padding: rem(32) 0;
    max-width: 1250px;

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: rem(20);
      max-width: 1250px;
    }
  }
}

.section-page {
  position: relative;
  @include background-color-gray(light);
  padding-top: rem(68);
  display: flex;
  align-items: flex-start;
  max-width: rem(550);
  width: 100%;
  margin: -38px auto 0 auto;
  justify-content: center;
  gap: rem(33);
  @include border-radius(large-top);

  &__title {
    padding-left: rem(13);
    font-family: $logo-font;
    font-size: rem(28);
    margin-bottom: rem(29);
  }

  @media (min-width: #{$breakpoint-large}) {
    max-width: rem(800);
    margin: -38px 0 0 0;

    &__title {
      margin-bottom: rem(50);
    }
  }
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  margin: 0 auto;
  padding: 0 rem(15);
  max-width: rem(550);
  @include background-color-gray(light);

  &__title {
    white-space: nowrap;
    display: inline-block;
    width: rem(40);
    font-family: unset;
    font-weight: 400;
    font-size: rem(16);
    text-transform: uppercase;
    padding: 0 0 rem(8) 0;
    margin-top: 0;

    border-bottom: solid rem(4) $tertiary-color;
  }

  &__container {
    padding-top: rem(31);
    padding-bottom: rem(67);
    gap: rem(18);
    display: grid;
  }

  @media (min-width: #{$breakpoint-large}) {
    margin: unset;
    padding: 0 rem(25);

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.page-main {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: rem(800);
  margin: auto;
}