@import "../partials/variables";
@import "../partials/mixins";

.section-page {
  @include background-color-gray(light);
  padding-top: rem(68);
  display: flex;
  align-items: baseline;
  max-width: 550px;
  width: 100%;
  margin: -38px auto 0 auto;
  justify-content: center;
  gap: rem(33);
  @include border-radius(large-top);

  &__title {
    padding-left: rem(13);
    font-family: $logo-font;
    font-size: rem(28);
    margin-bottom: rem(29);
  }

  @media (min-width: 744px) {
    // width: 70%;
  }

  @media (min-width: 996px) {
    max-width: 800px;
    margin: -38px 0 0 0;
    &__title {
      margin-bottom: rem(50);
    }
  }
}


.menu-section {
  display: flex;
  flex-direction: column;

  gap: rem(20);
  margin: 0 auto;
  padding: 0 15px;
  max-width: 550px;
  // width: 100%;
  @include background-color-gray(light);

  &__title {
    white-space: nowrap;
        display: inline-block;
        width: rem(40);
        font-family: unset;
        font-weight: 400;
        font-size: rem(16);
        text-transform: uppercase;
        padding: 0 0 rem(8) 0;
        margin-top: 0;
        // margin-left: 16px;
        // margin-bottom: rem(36);
        border-bottom: solid 4px $tertiary-color;
  }

  

  &__container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding-top: rem(31);
    padding-bottom: 67px;
   gap: 18px;
    display: grid;
    // margin: auto;

  }


    @media (min-width: 744px) {
      &__container {
        // padding-left: 18%;
        //   padding-right: 18%;
      }
    }

  @media (min-width: 996px) {
    margin: unset;
    padding: 0px 25px;
    &__wrapper {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    }
    &__wrapper:nth-child(3) {
      // width: 350px;
    }
  }
}

.page-main {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
margin: auto;


}