// styles communs à toutes les sections
section {
    padding: 2rem;
    background-color: #fff;
  }
  
  // styles pour la section de la home
  .home-section {
    @include gradient(45deg, $primary-color, $secondary-color);
    color: #fff;
    text-align: center;
  }
  
  .home-section h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }
  
  .home-section p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  // styles pour les sections de pages
  .page-section {
    border-top: 1px solid #eee;
  }
  
  .page-section h2 {
    font-size: 2rem;
    margin: 2rem 0 1rem;
    border-bottom: 1px solid #eee;
  }
  
  .page-section p {
    font-size: 1.2rem;
    margin: 1rem 0;
  }